textarea, button { width: 100%; }
#input { height: 20vh; }
.buttons {
    display: flex;
    height: 10vh;
    font-size: 5vh;
    font-weight: bold;
}
.outputs {
    display: flex;
    height: 60vh;
}
#output-img { display: none; }
#logarea {
    height: 5vh;
    color: red;
}
